---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"
import { SITE_TITLE } from "src/consts"
import Seo from "@components/seo/Seo.astro"

import assets_images_agile_training_scrum_training_and_certification_202310_Homepage_HeroPicture_800x563_1_png from "@assets/images/agile-training-scrum-training-and-certification/202310-Homepage-HeroPicture-800x563-1.png"
import assets_images_agile_training_scrum_training_and_certification_Google_5_star_rating_jpg from "@assets/images/agile-training-scrum-training-and-certification/Google-5-star-rating.jpg"
import assets_images_agile_training_scrum_training_and_certification_A_Jargon_Free_Introduction_to_Scrum_cover_small_low_res_jpg from "@assets/images/agile-training-scrum-training-and-certification/A-Jargon-Free-Introduction-to-Scrum-cover-small-low-res.jpg"
import assets_images_agile_training_scrum_training_and_certification_headshot_facing_left_square_jpg from "@assets/images/agile-training-scrum-training-and-certification/headshot-facing-left-square.jpg"
import assets_images_agile_training_scrum_training_and_certification_sa_csm_600_png from "@assets/images/agile-training-scrum-training-and-certification/sa-csm-600.png"
import assets_images_agile_training_scrum_training_and_certification_sa_cspo_600_png from "@assets/images/agile-training-scrum-training-and-certification/sa-cspo-600.png"
import assets_images_agile_training_scrum_training_and_certification_Mark_Levison_profile_image_300x400_1_jpg from "@assets/images/agile-training-scrum-training-and-certification/Mark-Levison-profile-image-300x400-1.jpg"
import assets_images_agile_training_scrum_training_and_certification_noun_bank_5781186_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-bank-5781186-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_finance_1834067_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-finance-1834067-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_finance_2351824_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-finance-2351824-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_university_1951821_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-university-1951821-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_software_3874633_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-software-3874633-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_insurance_5588499_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-insurance-5588499-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_noun_government_1984944_9B9B9B_png from "@assets/images/agile-training-scrum-training-and-certification/noun-government-1984944-9B9B9B.png"
import assets_images_agile_training_scrum_training_and_certification_Example_Mapping_300x225_jpg from "@assets/images/agile-training-scrum-training-and-certification/Example-Mapping-300x225.jpg"
import assets_images_agile_training_scrum_training_and_certification_tim_mossholder_vdhNO4mGQ14_unsplash_300x200_jpg from "@assets/images/agile-training-scrum-training-and-certification/tim-mossholder-vdhNO4mGQ14-unsplash-300x200.jpg"
import assets_images_agile_training_scrum_training_and_certification_APR_Blog_Illustrations_April2019_TooMuchWIP_Panel1_300x178_jpg from "@assets/images/agile-training-scrum-training-and-certification/APR_Blog-Illustrations_April2019_TooMuchWIP_Panel1-300x178.jpg"

const wpId = 15896
const title = "Agile Training: Scrum Training and Certification"
const description =
	'Become an effective team that delivers the right value with high quality, without feeling micromanaged, killing morale, or wasting time in pointless meetings. Transform your team and its results with our Blueprint for Scrum Team Success. 5000+ reviews "Definitely the Yoda of the Scrum universe" Do any of these sound familiar for you or your ...'
const status = "publish"
const type = "page"
const createdAt = new Date("2024-01-05T21:49:35")
const modifiedAt = new Date("2024-11-05T17:46:49")
const author = "brian"
---

<MainLayout>
	<Seo slot="head" seo={{ title, description }} options={{ brand: SITE_TITLE }} />
	<style>
		.page-id-15703 p:empty {
			display: none;
		}
		.logoContainer {
			float: left;
			width: 25%;
			text-align: center;
		}
		.industryBlurb {
			color: #1f64a4;
			font-size: 2.3rem;
			text-align: center;
			line-height: 1.2em;
			padding: 15px 55px;
			clear: both;
		}
		.lightBluePoint {
			border-top: 1px solid #0e90d2;
			border-bottom: 1px solid #0e90d2;
			color: #0e90d2;
			margin: 10px 100px 30px;
			text-align: center;
			padding: 10px 0;
		}
		.lightBluePoint div {
			font-style: italic;
		}
		.industryBlock {
			overflow: hidden;
			border: 2px solid #1f64a4;
			padding: 20px;
			margin: 0 150px 25px;
		}
		#FAQ-Section p {
			margin-bottom: 15px;
		}
		.FAQ-Unit {
			margin: 20px 0;
		}
		.arrow-right {
			float: left;
			margin: 5px 15px 0 0;
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-left: 40px solid #1f64a4;
			border-top-left-radius: 18px;
			border-bottom-left-radius: 18px;
		}
		/*.userLeveLHeader { float: left; margin-left: 30px; }*/
		.newToScrum {
			font-weight: bold;
			background: #e0e0e0;
			padding: 20px 150px;
			text-align: center;
		}
		.csmLogo {
			float: left;
			width: 150px;
		}
		.cspoLogo {
			float: right;
			width: 150px;
			margin-top: -27px;
		}
		.bookCover {
			width: 300px;
		}
		.heroImage {
			max-width: 650px;
		}
		@media screen and (max-width: 1023px) {
			.logoDisclaimer {
				padding: 20px 24px !important;
			}
			.lightBluePoint {
				margin: 10px 50px 30px;
			}
			.industryBlock {
				margin: 0 0 25px;
			}
			.newToScrum {
				padding: 12px;
			}
		}
		@media screen and (max-width: 800px) {
			.logoDisclaimer {
				padding: 10px 2px !important;
			}
			.lightBluePoint {
				margin: 10px 0 30px;
			}
			.cspoLogo {
				float: left;
				margin-right: 10px;
			}
		}
		@media screen and (max-width: 700px) {
			.saBlurb {
				float: left;
				margin-bottom: 15px;
			}
			.cspoLogo {
				float: right;
				margin-right: unset;
			}
		}
		@media screen and (max-width: 500px) {
			h1.entry-title {
				font-size: 30px;
			}
			.logoContainer {
				width: 50%;
			}
			.industryBlurb {
				padding: 15px 10px;
			}
			.csmLogo {
				width: 125px;
			}
			.cspoLogo {
				width: 125px;
			}
			.guideTitle {
				clear: both;
			}
			.site-inner .content-sidebar-wrap .content {
				padding: 40px 10px 10px;
			}
			.site-inner {
				padding-top: 10px;
			}
			.bookCover {
				width: 100%;
			}
		}
	</style>
	<div>
		<Image
			decoding="async"
			alt="Agile Scrum team in front of a Scrum wall - image by Agile Pain Relief Consulting"
			src={assets_images_agile_training_scrum_training_and_certification_202310_Homepage_HeroPicture_800x563_1_png}
		/>
	</div>
	<p><strong>Become an effective team that delivers the right value with high quality, </strong></p>
	<p>
		<strong
			>without feeling micromanaged, killing morale, or wasting time in pointless meetings.</strong
		>
	</p>
	<p>
		<strong>Transform your team and its results with our Blueprint for Scrum Team Success.</strong>
	</p>
	<div>
		5000+ reviews <Image
			decoding="async"
			alt="Google 5 star rating"
			width="140"
			src={assets_images_agile_training_scrum_training_and_certification_Google_5_star_rating_jpg}
		/>
	</div>
	<div>&#8220;Definitely the Yoda of the Scrum universe&#8221;</div>
	<div>
		<h2>Do any of these sound familiar for you or your Scrum Team?</h2>
		<ul>
			<li>Our team is struggling to deliver high quality products on time.</li>
			<li>We&#8217;re suffering from low morale and have disengaged team members.</li>
			<li>
				&#8220;Agile&#8221; is a dirty word with management because they&#8217;ve seen it done wrong
				and don&#8217;t think it works.
			</li>
			<li>Scrum is confusing. We&#8217;re not sure who does what in which role.</li>
		</ul>
		<p>We get it. We&#8217;ve experienced these things too.</p>
	</div>
	<p><strong>It&#8217;s not your fault.</strong></p>
	<p>
		Scrum is simultaneously very simple and very complex. The idea is straightforward; the execution
		is not. Which is why it can be so frustrating to try to learn Scrum on your own. And reading
		more books won&#8217;t help, because the advice is often contradictory.
	</p>
	<div>
		<div>The promise of Scrum was that you were going to get more done, in less time.</div>
		<div>The reality is that hasn&#8217;t happened.</div>
	</div>
	<div>
		<span
			>Work life keeps on intruding and messing with plans. Instead of building a great product,
			your Scrum team is:</span
		>
	</div>
	<ul>
		<li>Juggling stakeholders, leaving them all dissatisfied.</li>
		<li>Interrupted so frequently, they forget key details.</li>
		<li>Spending so much time in meetings, they resent Scrum.</li>
		<li>Working hard but the product never meets the customer needs.</li>
		<li>Spending more time on defects than they do on new work.</li>
		<li>
			Seeing your manager at your desk nearly every day, despite Scrum&#8217;s promise of autonomy.
		</li>
	</ul>
</MainLayout>
<div>
	<div>The problem isn&#8217;t you, it isn&#8217;t the team, and it&#8217;s not even Scrum.</div>
</div>
<p>
	Scrum is simple and it is incomplete. However, that incomplete part is killing you. But
	don&#8217;t worry. In the decades since Scrum was created, it&#8217;s been implemented enough
	times that there is a science (yes, real science with data) to doing it well.
</p>
<div>
	<div>Scrum has taken over the world of work.</div>
	<div>
		Many workplaces now demand Scrum and Agile knowledge as a requirement for getting a job
		interview.
	</div>
</div>
<div>
	<h2>Where to start with Scrum if you&#8217;re brand new to it</h2>
</div>
<p>
	Clearly, having Scrum knowledge and experience will be a huge benefit to your career and job
	prospects. But it&#8217;s the age-old problem: how do you learn and gain experience to start with?
</p>
<div>
	If you’re new to Agile and Scrum methodology, start with the basics of what Scrum is, and get your
	complimentary copy of <a href="/a-jargon-free-introduction-to-scrum"
		>A Jargon-Free Introduction to Scrum.</a
	>
</div>
<div>
	<span>The language and concepts of Scrum can seem strange. There are words like:</span>
</div>
<ul>
	<li>Scrum (stolen from rugby)</li>
	<li>Sprint (must go fast)</li>
	<li>Retrospective (that sounds good)</li>
	<li>Definition of Done (what the heck is that)</li>
	<li>Scrum Framework (is it structure or rules)</li>
</ul>

<p>
	Even when the words make sense, there is still a long list of questions, like: How is Daily Scrum
	different from Scrum? What is a Product Backlog? What is a Sprint? Who does what, and when, in
	Scrum? How is this different from the way I currently work? Will this even work for my business?
</p>
<div>
	<a href="/a-jargon-free-introduction-to-scrum"
		><Image
			decoding="async"
			width="375"
			height="600"
			alt="A Jargon-Free Introduction to Scrum"
			sizes="(max-width: 375px) 100vw, 375px"
			src={assets_images_agile_training_scrum_training_and_certification_A_Jargon_Free_Introduction_to_Scrum_cover_small_low_res_jpg}
			widths={[375, 188]}
		/></a
	>
</div>
<div>
	In our <em>Jargon-Free Introduction to Scrum</em> we use simple, clear language to answer those questions,
	and lay out Scrum in a simple, easy to understand way. You will learn how Scrum can help a team:
</div>
<ul>
	<li>create and maintain focus</li>
	<li>produce a valuable product and deliver frequently</li>
	<li>adapt to business change and course correct as needed</li>
	<li>use feedback for continuous refinement and improvement</li>
	<li>have the power to create the work environment they need and not be micromanaged</li>
	<li>feel seen and respected as people, not business resources</li>
</ul>
<p>
	By the time you&#8217;re finished the Jargon-Free Introduction, you&#8217;ll have a good
	foundational understanding of Scrum. With this knowledge in hand, you&#8217;ll be ready to deliver
	a high quality product frequently.
</p>

<p>
	Start with the basics and, as you get going, move on to the next phase of learning, which is
	dealing with the real world. As a practitioner with some experience under your belt, you&#8217;ll
	have discovered that Scrum is powerful.
</p>
<div>
	<h2>Once you have some Scrum experience</h2>
</div>
<p>
	Real change and improvement is hard. Even in a dream world —where your stakeholders were always
	aligned and your team was never interrupted, etc— Scrum would be a lot of work to implement.
</p>
<div>
	<div>
		No workplace is perfect. Having a blueprint for what steps to take, and how to deal with
		&#8220;yes, but in real life…&#8221; questions and challenges, will make all the difference.
	</div>
</div>
<p>
	We have that Blueprint and the real world experience to help you and your business through this.
</p>
<div>
	<a href="/blueprint-for-scrum-team-success" target="_blank" rel="noopener"
		><img
			decoding="async"
			src="https://apr2023.wpenginepowered.com/wp-content/uploads/2023/12/BlueprintForScrumTeamSuccessBookCover-400x640-1.jpg"
			alt="Blueprint For Scrum Team Success by Agile Pain Relief"
		/></a
	>
</div>
<h3>Why You Need a Blueprint for Your Scrum Team</h3>
<p>
	<span
		>To help your team get to the next level of Scrum with learning instead of guesswork, use our <a
			href="/blueprint-for-scrum-team-success"
			target="_blank"
			rel="noopener"><strong><em>Blueprint for Scrum Team Success</em></strong></a
		>.</span
	>
</p>
<div>
	<span
		>Because here&#8217;s a common scenario. A team has been working together using Scrum for a few
		months and they&#8217;ve stalled. They&#8217;ve got the basic mechanics of the Scrum Framework
		in place for their business, but:</span
	>
</div>
<ul id="blueprint">
	<li>The Product Backlog is a mess and there is no vision.</li>
	<li>There&#8217;s a Definition of Done but it lives in a desk drawer.</li>
	<li>
		The team is frequently bottlenecked and, when that happens, team members see it as &#8220;not my
		problem&#8221;.
	</li>
	<li>The team dynamics are not healthy, and fighting in team events is a real worry.</li>
	<li>Developers groan and complain about boring, useless meetings.</li>
	<li>The team feels like Scrum is being forced on them and there&#8217;s no real point to it.</li>
	<li>There&#8217;s talk of returning to traditional business project management.</li>
</ul>

<div>
	<Image
		decoding="async"
		alt="Mark Levison"
		width="150"
		src={assets_images_agile_training_scrum_training_and_certification_headshot_facing_left_square_jpg}
	/>
</div>
<p>
	If that sounds familiar for your team, you don&#8217;t need to stumble around in the dark. Mark
	Levison has spent more than 20 years studying Scrum and Agile. As a practitioner he has
	experimented with countless teams to find what works and, more importantly, what doesn&#8217;t.
</p>
<p>
	First, by being a practicing ScrumMaster, Agile coach, and Certified Scrum Trainer. With that
	extensive hands-on experience, Mark has also read hundreds of the best (and worst) Scrum and Agile
	books, thousands of academic papers, and countless articles.
</p>

<p>
	But Mark has also learned by listening… <em>really </em>listening … to the thousands of businesses
	and clients who have shared their pain with him so he could help them find improvements. They are
	the true inspiration for the creation of the <strong
		><em>Blueprint for Scrum Team Success</em></strong
	>.
</p>
<p>
	Mark doesn&#8217;t claim to have a single true path for all teams &#8211; that would be the
	opposite of Agile. Instead, he shows you the minimum conditions to start. (Hint: listen to your
	customers, focus on delivering Value and not just building more stuff, faster.) You&#8217;ll learn
	how to help your team level up in the game of Scrum. In many cases you can use more than one tool,
	so Mark makes it easy for your team to experiment and pick for themselves what they feel works
	best.
</p>
<p>
	Building a successful Scrum Team is a long learning journey and the key is turning the improvement
	process into a science. It starts with acknowledging that this stuff is hard! <strong
		>There are no shortcuts or cheat codes</strong
	>.
</p>
<div>
	<div>
		No team reaches top level performance without first setting it in their sights, then investing
		in high-quality education with proven practices to get them there.
	</div>
</div>
<p>
	If you&#8217;re ready to start that journey with your team, get the <a
		href="/blueprint-for-scrum-team-success"
		target="_blank"
		rel="noopener"><strong><em>Blueprint for Scrum Team Success</em></strong> here</a
	>. It&#8217;s in regular language, making it easy learning and accessible for everyone (business
	buzzwords cause brain cramps). And to make it even easier for you, if you decide to join Mark in a <a
		href="/certified-scrum-agile-training"
		target="_blank"
		rel="noopener">certified scrum training</a
	> workshop in the future, the price of the Premium Blueprint will be credited towards your purchase.
</p>
<div>
	<h2>&#8220;I&#8217;ve been doing Scrum for a while and it&#8217;s still hard&#8221;</h2>
</div>
<p>
	It sure is. The good news is that&#8217;s normal, and you&#8217;re not alone. It&#8217;s one thing
	to land in a job and start practicing the basic theory of what to do in Scrum. But understanding
	what being Agile really means – why Scrum is structured that way and how to reap the most benefits
	– is a completely different thing. More theory isn&#8217;t going to help there, but hands-on
	learning will.
</p>
<p>
	As a Scrum practitioner you need to practice techniques for how to guide teams, and manage
	projects and organizations, all while using Agile and Scrum principles to improve teamwork,
	deliver quick feedback, and achieve better quality products and results in real life. Yes, even
	the stressful or awkward work scenarios that you think nobody else can relate to. Chances are very
	high that Mark has lived through them himself, or at least knows how they can be overcome.
</p>
<h3>Learn about using Scrum and Agile in the real world</h3>
<div>
	<Image
		decoding="async"
		alt="Scrum Alliance CSM Seal"
		src={assets_images_agile_training_scrum_training_and_certification_sa_csm_600_png}
	/><br />
	<Image
		decoding="async"
		alt="Scrum Alliance CSPO Seal"
		src={assets_images_agile_training_scrum_training_and_certification_sa_cspo_600_png}
	/>
</div>
<div>
	Our <a href="/certified-scrum-agile-training" target="_blank" rel="noopener"
		>Certified Scrum Master and Scrum Product Owner Training workshops</a
	> will do so much more than just give you a highly respected certification to help your career. Our
	Scrum training will answer those &#8220;Yes, but in real life…&#8221; questions that people have, and
	that workbook + PowerPoint courses don&#8217;t answer.
</div>

<p>
	No boring business classes here. You&#8217;ll experience many of the most common pitfalls and
	complaints, and learn Agile strategies for how to deal with them. As part of our Certified Scrum
	training courses you will also get the &#8220;Blueprint for Scrum Team Success&#8221; to help you
	after the workshop with your professional Scrum journey.
</p>
<div>
	<div>
		Professional level Scrum training fills in the gaps where confusion about Scrum lives and grows.
		It makes sense of the nonsensical, and helps you easily imagine ways to use Scrum to make work
		not suck. (Or at least less painful.)
	</div>
</div>
<div>
	<Image
		decoding="async"
		alt="Mark Levison"
		width="200"
		src={assets_images_agile_training_scrum_training_and_certification_Mark_Levison_profile_image_300x400_1_jpg}
	/>
</div>
<h2>Your Guide on the Side</h2>
<p>
	Hello, I&#8217;m Mark, and I&#8217;ve been a Scrum practitioner for a long time &#8211; since
	2001, long before Scrum was popular.
</p>
<p>
	With over 20 years of working with teams through Agile training and Agile consulting, I&#8217;ve
	made lots of mistakes, run many experiments, and seen most of the problems that businesses
	experience in the real world. It&#8217;s so rewarding when I can share that earned knowledge with
	teams to help them relieve their pain points and be more Agile.
</p>
<p>
	You don&#8217;t need to make the same mistakes as I did, you don&#8217;t need to struggle, and you
	certainly don&#8217;t need to spend time reading dry academic articles.
</p>

<p>
	Through extensive experience and research, I can now share a blueprint for Scrum team success that
	is based on evidence and results. It will still require hard work from you, but the work will be
	with your team and management, making small, steady improvements to your business system, and not
	work slogging through false promises and confounding instructions.
</p>
<div>
	<h2>What haven&#8217;t we answered yet?</h2>
	<p>
		<span
			>If you&#8217;ve read this far on the page and you&#8217;re still not sure which of our offers
			is best for you, we&#8217;ve failed. We&#8217;re human (no AI here). Contact us and let us
			know what you want help with. In the meantime, know these three things:</span
		>
	</p>
	<ul id="moreAnswers">
		<li>
			If you&#8217;re new to Scrum and it&#8217;s confusing as all get-out, we have a free e-book
			for you, the <em>Jargon-Free Introduction to Scrum,</em> that makes it easy to sort through the
			confusion and understand the basics.
		</li>
		<li>
			If you&#8217;ve got the basics but you don&#8217;t know where to go from there, or your
			efforts haven&#8217;t gotten good results, we&#8217;ve got the <em
				>Blueprint for Scrum Success</em
			> that lays it all out clearly but still gives you plenty of ideas of how to make it work for your
			unique needs.
		</li>
		<li>
			And if you want to take the obvious next step with Scrum, your team, and your career, we offer
			top-rated Scrum training courses that have helped thousands of businesses and individuals with
			their Scrum and Agile goals and certification, including many major organizations and
			industries such as government, software, banking, finance and education, to name only a few.
		</li>
	</ul>
</div>
<div>
	<div>
		<Image
			decoding="async"
			alt="bank icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_bank_5781186_9B9B9B_png}
		/>
	</div>
	<div>
		<Image
			decoding="async"
			alt="financial icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_finance_1834067_9B9B9B_png}
		/>
	</div>
	<div>
		<Image
			decoding="async"
			alt="finance icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_finance_2351824_9B9B9B_png}
		/>
	</div>
	<div>
		<Image
			decoding="async"
			alt="university icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_university_1951821_9B9B9B_png}
		/>
	</div>
	<div>
		Mark Levison has helped over 8000 people find success using Scrum, and is the trusted training
		provider for major Canadian banks, insurance companies, federal and municipal government, and
		more.
	</div>
	<div>
		<Image
			decoding="async"
			alt="software icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_software_3874633_9B9B9B_png}
		/>
	</div>
	<div>
		<Image
			decoding="async"
			alt="insurance icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_insurance_5588499_9B9B9B_png}
		/>
	</div>
	<div>
		<Image
			decoding="async"
			alt="government icon"
			src={assets_images_agile_training_scrum_training_and_certification_noun_government_1984944_9B9B9B_png}
		/>
	</div>
	<div>*Generic images used to honour trademark laws and NDAs.</div>
</div>
<p>
	You can learn from our mistakes and extensive experience, or you can take the harder road of
	figuring it out on your own and making costly and frustrating mistakes of your own. Which will you
	choose?
</p>
<style>
	#moreAnswers li:before {
		content: "\00BB";
		font-size: 35px;
		color: green;
		vertical-align: sub;
		line-height: 30px;
		margin-right: 10px;
	}
	#blueprint li {
		list-style: none;
	}
	#blueprint li:before {
		content: "•";
		color: red;
		font-size: 22px;
		vertical-align: sub;
		line-height: 20px;
		margin-right: 10px;
	}
	#moreAnswers li {
		margin-bottom: 10px;
		list-style-type: none !important;
	}
	.testimonialBlock {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin: 20px 0;
	}
	.speechBubble {
		display: table-cell;
		height: 60px;
		width: 60px;
		background: url("/wp-content/uploads/2024/01/speech-bubble-clipart.png") no-repeat left top;
	}
	.testimonialText {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		padding-left: 20px;
	}
</style>
<div>
	<div>
		<div>
			As a self-employed business owner with a small team, this course was helpful in understanding
			how to improve my company&#8217;s value to clients. ~ Murtada Shah
		</div>
	</div>
</div>
<div>
	<div>
		Insanely terrific. I have been bored silly at some Agile training classes. This was 100%
		interesting… okay, 98%. Very clear, Exceptional memory! I get it now &#8211; the value of a
		*real* pro scrum master. Simon Crum
	</div>
</div>
<div>
	<div>
		Mark is incredibly well prepared and professional. Best instructor I&#8217;ve ever had, period.
		~ Kevin Dutour
	</div>
</div>
<div>
	<div>
		I&#8217;ve been to a few Scrum courses for the past year and I must say that this was the best
		course I have attended. Gracefully covered the entire subject with the right depth. ~ Rafael
		Santos
	</div>
</div>
<div>
	<div>Great to get this training from the subject matter expert. ~ Nisha Agsawal</div>
</div>
<div>
	<div>
		Mark has an effective approach at coaching us through the course in an &#8220;agile&#8221; way.
		Would recommend the course to those who are experienced scrum masters and especially to those
		who are new to the agile world. ~ Caia Ross
	</div>
</div>
<div>
	<div>
		The simulations and exercises were extremely useful in the understanding of the concept. Mark
		made the course thoroughly enjoyable. Extremely pleased by the techniques used and the content
		of the course. ~ Dhaval Shah
	</div>
</div>
<div>
	<div>Amazing and inspiring. I am ready to go change my working life. ~ Thomas Waine</div>
</div>
<div>
	<div>
		Mark is the real s**t. He&#8217;s lived through the pain points and knows where the bodies are
		buried. ~ Christian Farley
	</div>
</div>
<div>
	<div>
		This course was REALLY good (I don&#8217;t often say that!). It&#8217;s probably become my
		benchmark for how online courses should be run. It could have easily have been
		death-by-powerpoint, but instead the course was engaging and fun! ~ Ross Harper
	</div>
</div>

<div id="recentBlog">
	<section id="srpw_widget-2">
		<div>
			<h3>Blog</h3>
			<div>
				<style>
					.srpw-ul li {
						list-style-type: none !important;
						margin-left: 0 !important;
						padding: 0 12px 20px 12px !important;
					}
					.srpw-thumbnail {
						width: 100%;
						height: auto;
					}
				</style><ul>
					<li>
						<a
							href="/blog/example-mapping-your-secret-weapon-for-effective-acceptance-criteria.html"
							target="_self"
							><Image
								decoding="async"
								width="300"
								height="225"
								alt="Example Mapping: Your Secret Weapon for Effective Acceptance Criteria"
								sizes="(max-width: 300px) 100vw, 300px"
								src={assets_images_agile_training_scrum_training_and_certification_Example_Mapping_300x225_jpg}
								widths={[300, 768, 800]}
							/></a
						><div>
							<a
								href="/blog/example-mapping-your-secret-weapon-for-effective-acceptance-criteria.html"
								target="_self"
								>Example Mapping: Your Secret Weapon for Effective Acceptance Criteria</a
							><div>
								<p>
									Example mapping is a collaborative technique for a team to take a User Story (or
									PBI) and have a deeper conversation to clarify their understanding of it. The
									conversation generates the Acceptance Criteria. (Acceptance Criteria is the
									generic idea &#8211; Example Mapping&hellip;
								</p><a
									href="/blog/example-mapping-your-secret-weapon-for-effective-acceptance-criteria.html"
									target="_self">Read More »</a
								>
							</div>
						</div>
					</li><li>
						<a href="/blog/agile-tools-for-job-search-an-evolving-post.html" target="_self"
							><Image
								decoding="async"
								width="300"
								height="200"
								alt="Agile Tools for Job Search – An Evolving Post"
								sizes="(max-width: 300px) 100vw, 300px"
								src={assets_images_agile_training_scrum_training_and_certification_tim_mossholder_vdhNO4mGQ14_unsplash_300x200_jpg}
								widths={[300, 1024, 768, 1536, 2048]}
							/></a
						><div>
							<a href="/blog/agile-tools-for-job-search-an-evolving-post.html" target="_self"
								>Agile Tools for Job Search &#8211; An Evolving Post</a
							><div>
								<p>
									In recent months I have seen hundreds of people on LinkedIn and other places, who
									have been laid off. I see many people encouraged by well-intentioned, helpful
									outplacement services to tweak their resumes to get ingested by a ranking
									tool.&hellip;
								</p><a href="/blog/agile-tools-for-job-search-an-evolving-post.html" target="_self"
									>Read More »</a
								>
							</div>
						</div>
					</li><li>
						<a href="/blog/onboard-new-people-without-losing-scrum-team-magic.html" target="_self"
							><Image
								decoding="async"
								width="300"
								height="178"
								alt="Onboard New People Without Losing Scrum Team Magic"
								sizes="(max-width: 300px) 100vw, 300px"
								src={assets_images_agile_training_scrum_training_and_certification_APR_Blog_Illustrations_April2019_TooMuchWIP_Panel1_300x178_jpg}
								widths={[300, 1024, 768, 1416]}
							/></a
						><div>
							<a href="/blog/onboard-new-people-without-losing-scrum-team-magic.html" target="_self"
								>Onboard New People Without Losing Scrum Team Magic</a
							><div>
								<p>
									Agile teams have been struggling since the earliest days with how to bring new
									people on to a team. In one of the first Agile books, there was a story of
									Alistair Cockburn walking a new hire through the team’s&hellip;
								</p><a
									href="/blog/onboard-new-people-without-losing-scrum-team-magic.html"
									target="_self">Read More »</a
								>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- Generated by http://wordpress.org/plugins/smart-recent-posts-widget/ -->
		</div>
	</section>
</div>
<div>
	<h2>Agile and Scrum FAQs</h2>
</div>
<div id="FAQ-Section">
	<div>
		<h3>How quickly can I learn Agile?</h3>
		<p>We&#8217;ve used this analogy before, but it works well: how quickly can you dig a hole?</p>
		<p>
			It depends on a lot of things, doesn&#8217;t it? Including how wide and deep you want to go.
		</p>
		<p>
			You can read our &#8220;What Is Scrum? – In a Nutshell&#8221; page in just 20 minutes and have
			a decent understanding of foundational Scrum. Or go a little bit deeper with &#8220;A
			Jargon-Free Introduction to Scrum&#8221;. And if you don&#8217;t want to learn the basics all
			in one chunk, you can pace yourself, with the Foundational Scrum email series that has you
			practicing as you learn, so it&#8217;s easier to understand and retain. If there are any Scrum
			and Agile terms you don&#8217;t understand, you can learn more in our Agile Glossary and
			Reference Library.
		</p>
		<p>
			But Agile is far more than only Scrum, so there are many paths to explore to see what&#8217;s
			most important for you. If you&#8217;re coaching a team, you will need to understand more
			about: the flow of work, lean think, systems thinking, appropriate measurements, etc. As a
			facilitator, you will want to learn how to engage team members, how to get quieter people
			involved, and how to ensure decisions involve the entire team. We&#8217;re dealing with real
			people, so insights from behavioural psychology will help, and we also want to understand
			human motivation. You could spend years getting to this sentence and we still haven&#8217;t
			covered Product Ownership or Agile Engineering Practices. There has to be a better way of
			learning what you, and your team, need to be successful.
		</p>
		<p>
			It&#8217;s easy to get sidetracked or lost in the forest of theory if you don&#8217;t also
			have a plan for how to apply it effectively. Our certified scrum training workshops get you
			pointed in the right direction with certification, and our blueprint for success helps you
			achieve landmarks and get you where you want to be. If you&#8217;re wondering <strong
				>what is Agile training and why is it important</strong
			>, exploring the different certification training options will give you an overview of the
			underlying principles and applications, so you can choose which one(s) to pursue in greater
			depth for your needs.
		</p>
	</div>
</div>
<div>
	<h3>How difficult is Agile?</h3>
	<p>
		To do at all? Or to do well? Because those are very different things. Some say that doing Agile
		or Scrum poorly is actually far more work than if you do it correctly – the trick is knowing the
		difference.
	</p>
	<p>
		Often the hardest part of practicing Agile is changing deeply ingrained habits and mindsets.
		Others find the lack of specific direction in Scrum, for example, to be just as overwhelming as
		it is freeing, at least to start. But the freedom that Agile and Scrum afford is the key to
		adapting to your unique circumstances so you can achieve the best possible outcome. So starting
		with foundational training to give you the shared understanding and language, then getting your
		feet wet with certified training to take you the next step and see how to apply the principles,
		and following the blueprint further with more advanced learning to deal with the challenges that
		inevitably happen in real life, all make it possible.
	</p>
</div>
<div>
	<h3>What are key components of Agile?</h3>
	<p>
		The Agile Manifesto outlines twelve brief principles that encourage welcoming change, delivering
		value frequently, and valuing people and relationships. &#8220;We are uncovering better ways of
		developing software by doing it and helping others do it.&#8221;
	</p>
</div>
<div>
	<h3>Is Agile the same thing as Scrum?</h3>
	<p>
		No. Agile comes from the Agile Manifesto, which was an event where 17 people got together at the
		bottom of a ski hill in Snowbird Utah in January 2001. Between them, they had created Scrum,
		eXtreme Programming (aka XP), Crystal, FDD and DSDM, which are all lightweight methods . Over
		the course of two days, they discussed what they agreed on and, in the end, it was four value
		statements and twelve principles. It is a testament to their efforts that over 20 years later
		these continue to be our guiding values and principles for the Scrum Framework.
	</p>
	<p>
		<em
			>(It is also ironic that they didn&#8217;t invite any women, people of color, or any Canadians
			to participate. The latter can be explained by the fact that we would have gone skiing.)</em
		>
	</p>
</div>
<div>
	<h3>Wait, I took an online course and it didn&#8217;t cover any Scrum Principles or Values…</h3>
	<p>
		We wish we were surprised but, sadly, we&#8217;re not. Discount certification training gets you
		discount results. Or worse, bad Scrum that causes damage. Scrum Principles and Values are
		critical, and are what makes Scrum different from traditional project management. Scrum is
		focused on delivering the highest product <em>value</em> to the customer, not the largest number
		of widgets as fast as possible. Memorizing basic Scrum theory (as is taught in Professional Scrum
		Master I or PSM I training) only covers the mechanics of Scrum. Effectively practicing Scrum in the
		real world requires a much deeper understanding of the <em>how</em> and <em>why</em>, which is
		far more than just plodding through a set of prescribed Scrum events or passing a certification
		exam.
	</p>
</div>
<div>
	<h3>What does Scrum stand for?</h3>
	<p>
		What is scrum and why is it called scrum? Many assume that SCRUM is an acronym for something,
		but it&#8217;s not. You may have heard the word before in reference to rugby, where it refers to
		a formation of players &#8211; a team that works together to move a ball toward a common goal.
		Without full collaborative effort from all team members, they will fail. Don&#8217;t overthink
		it. If you&#8217;ve played rugby &#8211; and I have (Kingston Panthers) &#8211; you will know
		that the analogy is weak.
	</p>
</div>
<div>
	<h3>What is the job of Scrum?</h3>
	<p>
		Scrum is a way of organizing a team of people to deliver incremental parts or features of a
		product over a short, fixed time period. Scrum grew up in the world of software development, but
		it can be used anywhere that individuals need to collaborate as a team to deliver something of
		value to a customer. It&#8217;s equally important to distinguish what Scrum is not. Scrum is not
		a problem-solver. It is a problem-finder.
	</p>
</div>
<div>
	<h3>What is Agile Project Management?</h3>
	<p>
		An oxymoron. Okay, that&#8217;s a bit harsh. Let&#8217;s split this into parts – Agile + Project
		Management – and start by defining Project Management. For even more fun, let&#8217;s ask
		ChatGPT* to give us an answer: &#8220;Project management is the discipline of planning,
		organizing, securing, managing, leading, and <strong>controlling resources</strong> to achieve specific
		goals within a project&#8217;s time, budget, and quality constraints&#8221;.
	</p>
	<p>
		Traditional approaches put all the focus on the project itself and treat the people as chess
		pieces to be moved around from project to project. Even ChatGPT (which is notoriously wrong
		about Scrum and Agile) knows that Project Management calls people <em>resources</em>.
	</p>
	<p>
		All Agile approaches put the focus back on <em>people. </em>Human beings. With all their quirks
		and quarks. Agile organizes them into teams and brings the work to teams, rather than the teams
		to the work.
	</p>
	<p>So Agile, done correctly, eliminates the need for project management.</p>
	<p>
		<strong><em>*All content on this site is written by humans</em></strong><em
			>, typos and all<strong>.</strong> Wherever we use AI, it&#8217;s to make a point about its shortcomings,
			and we make it very clear that it&#8217;s LLM-generated.</em
		>
	</p>
</div>
<div>
	<h3>What&#8217;s the Difference Between Project vs Product?</h3>
	<p>
		So, if not Project Management, then what? Scrum places the focus on the Product that the team is
		building and maximizing the value delivered to the business or customer. How is Product
		different than Project?
	</p>
	<p>
		Projects typically have a distinct start and finish, with phases in between. When a Project is
		finished, that&#8217;s the end. Full stop.
	</p>
	<p>
		The Product mindset that Scrum teams adopt is, instead, focused on early delivery of value. We
		use the delivery to get feedback from the customer/business, that learning then improves the
		Product as it evolves. Furthermore, the Product mindset implies long-term ownership of the work
		product. You build it and it breaks, you fix it.
	</p>
</div>
<div>
	<h3>What is Scrum for beginners?</h3>
	<p>
		If you&#8217;ve ever typed &#8220;what is scrum&#8221;, or &#8220;difference between scrum
		master and product owner&#8221;, or any number of other common search phrases, scrum for
		beginners is what you&#8217;re looking for. The basics. The foundations that give you a rough
		idea of what scrum is meant to do, how it&#8217;s meant to work, and who it&#8217;s meant to
		help. What beginner resources don&#8217;t tell you, though, is how to apply that theory
		effectively to get the results you want. Certification training courses are good, but quality
		learning and understanding is the true goal.
	</p>
</div>
<div>
	<h3>What major businesses use Scrum?</h3>
	<p>
		Scrum is a popular framework for agile project management (see above for how we feel about that
		term) and is used by many major companies across various industries. You might be surprised by
		some of the names. While the specific organizations using Scrum may change over time, here are
		some well-known companies that have publicly adopted Scrum: Microsoft, Google, Amazon, Facebook,
		Spotify, IBM, Salesforce, Adobe, Netflix, Toyota, John Deere. You can read more via our Case
		Studies and, quite interestingly, Agile Outside of Software pages in our Agile Glossary and
		Library.
	</p>
	<p>
		Closer to home, we personally know that the following also use Scrum: Federal Government of
		Canada, Government of Alberta, Province of Nova Scotia, Bank of Canada, TD Bank, Royal Bank of
		Canada, Intact Insurance, Economical, Manulife, Sunlife, Co-operators, National Research
		Council, AIMCo, Shopify, Netsuite, Telus, Blackberry, Oracle, Farm Credit Canada… and many, many
		more.
	</p>
</div>
<div>
	<h3>What does Scrum mean for your business?</h3>
	<p>
		Many a business is organized into silos, like the development department, QA department, the
		Business Analyst group. People are recruited from these departments to staff a project. This
		leads to a management nightmare. Everyone still reports to their traditional manager, and they
		have an additional responsibility to the project they&#8217;re assigned to. Even worse, some
		projects only require a fraction of one role (often the Business Analyst), so these people are
		reporting into multiple projects <em>and</em> their normal management structure. Traditional models
		of Project Management attempt to make this juggling process work through the use of Gantt charts
		and related tools. The Agile world requires a mindset shift from your business. Instead of staffing
		short-lived projects, Agile approaches get your business to create long-lived Product Teams. These
		teams stay together over the long term working on a single product. In some organizations the products
		need to change more frequently. In that case, keep the team intact and just ask them to focus on
		the next product. Some teams may continue to support one or two older products while creating the
		new product at the same time.
	</p>
</div>
<div>
	<h3>What Scrum certification training courses are available?</h3>
	<p>
		Most often, when people aren&#8217;t sure what type of Scrum certification courses to take, they
		choose the Certified Scrum Master course. It‘s the most popular Scrum training, by far. In the
		course you will learn everything you need to earn your Scrum Master certification as it gives a
		solid foundational understanding of the Scrum framework, roles, and events. Other certification
		course options in the Scrum Master career track include Advanced Certified Scrum Master and
		Certified Scrum Professional Scrum Master courses.
	</p>
	<p>
		Learning in the Scrum Product Owner track starts with a Certified Scrum Product Owner training
		course that focuses on the Product Owner role. Additional certification training course options
		are Advanced Certified Scrum Product Owner training and Certified Scrum Professional Product
		Owner courses.
	</p>
	<p>
		The Scrum Developer track offers certification via the Certified Scrum Developer course,
		followed by Advanced Certified Scrum Developer and Certified Scrum Professional for Developers
		certification.
	</p>
</div>
