---
import { generateUrl } from "@utils/pagination"
import { Icon } from "astro-icon/components"

export interface Props {
	firstUrl?: string
	prevUrl?: string
	currentUrl: string
	nextUrl?: string
	lastUrl?: string
	currentPage: number
	lastPage: number
	useParams?: boolean
}

const {
	firstUrl,
	prevUrl,
	currentUrl,
	nextUrl,
	lastUrl,
	currentPage,
	lastPage,
	useParams = true
} = Astro.props as Props
const firstPage = 1
let paginationLeft: number[] =
	currentPage >= 3 ? [currentPage - 2, currentPage - 1] : currentPage >= 2 ? [currentPage - 1] : []
let paginationRight: number[] =
	currentPage <= lastPage - 2
		? [currentPage + 1, currentPage + 2]
		: currentPage <= lastPage - 1
			? [currentPage + 1]
			: []

// build pagination list to be displayed
const paginationList: number[] =
	currentPage === 1
		? [currentPage, ...paginationRight]
		: currentPage === lastPage
			? [...paginationLeft, currentPage]
			: [...paginationLeft, currentPage, ...paginationRight]
---

<nav class="not-prose mx-auto flex items-center justify-center gap-2 p-0 py-6">
	{
		currentPage === firstPage ? (
			<span
				class="rounded border-2 border-neutral-300 p-1 text-sm uppercase text-neutral-300"
				aria-hidden="true">
				<span class="sr-only">First page</span>
				<Icon class="size-5" name="mdi:skip-previous" />
			</span>
		) : (
			<a
				class="rounded border-2 border-neutral-500 p-1 text-sm uppercase no-underline hover:shadow-md"
				href={firstUrl}
				aria-label="First Page">
				<span class="sr-only">First page</span>
				<Icon class="size-5" name="mdi:skip-previous" />
			</a>
		)
	}
	{
		!prevUrl ? (
			<span
				class="rounded border-2 border-neutral-300 p-1 text-sm uppercase text-neutral-300"
				aria-hidden="true">
				<span class="sr-only">Previous page</span>
				<Icon class="size-5" name="mdi:navigate-before" />
			</span>
		) : (
			<a
				class="rounded border-2 border-neutral-500 p-1 text-sm uppercase no-underline hover:shadow-md"
				href={prevUrl}
				aria-label="Previous Page">
				<span class="sr-only">Previous page</span>
				<Icon class="size-5" name="mdi:navigate-before" />
			</a>
		)
	}

	{
		paginationList.map((i) =>
			i === currentPage ? (
				<span class="min-w-[1.5rem] rounded border-2 border-neutral-300 p-1 text-center text-sm uppercase text-neutral-300">
					{i}
				</span>
			) : (
				<a
					class="min-w-[1.5rem] rounded border-2 border-neutral-500 p-1 text-center text-sm uppercase no-underline hover:shadow-md data-[page='0']:hidden"
					data-page={i}
					href={
						useParams
							? i === 1
								? generateUrl(Astro.url)
								: generateUrl(Astro.url, i.toString())
							: i === 1
								? "/pages/"
								: "/pages/" + i.toString()
					}>
					{i}
				</a>
			)
		)
	}

	{
		!nextUrl ? (
			<span
				class="rounded border-2 border-neutral-300 p-1 text-sm uppercase text-neutral-300"
				aria-hidden="true">
				<span class="sr-only">Next page</span>
				<Icon class="size-5" name="mdi:navigate-next" />
			</span>
		) : (
			<a
				class="rounded border-2 border-neutral-500 p-1 text-sm uppercase no-underline hover:shadow-md"
				href={nextUrl}
				aria-label="Next Page">
				<span class="sr-only">Next page</span>
				<Icon class="size-5" name="mdi:navigate-next" />
			</a>
		)
	}
	{
		currentPage === lastPage ? (
			<span
				class="rounded border-2 border-neutral-300 p-1 text-sm uppercase text-neutral-300"
				aria-hidden="true">
				<span class="sr-only">Last page</span>
				<Icon class="size-5" name="mdi:skip-next" />
			</span>
		) : (
			<a
				class="rounded border-2 border-neutral-500 p-1 text-sm uppercase no-underline hover:shadow-md"
				href={lastUrl}
				aria-label="Last Page">
				<span class="sr-only">Last page</span>
				<Icon class="size-5" name="mdi:skip-next" />
			</a>
		)
	}
</nav>
